.App {
  text-align: center;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}

.App button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

